.desktop1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop1-desktop1 {
  width: 100%;
  height: 4752px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop1-rectangle1 {
  top: 0px;
  left: -4px;
  width: 1530px;
  height: 45px;
  position: absolute;
}
.desktop1-text {
  top: 17px;
  left: 232px;
  color: rgba(255, 255, 255, 1);
  width: 80px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text02 {
  top: 15px;
  left: 365px;
  color: rgba(255, 255, 255, 1);
  width: 101px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text04 {
  top: 17px;
  left: 511px;
  color: rgba(255, 255, 255, 1);
  width: 85px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text09 {
  top: 16px;
  left: 647px;
  color: rgba(255, 255, 255, 1);
  width: 63px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text11 {
  top: 15px;
  left: 804px;
  color: rgba(255, 255, 255, 1);
  width: 78px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text16 {
  top: 17px;
  left: 957px;
  color: rgba(255, 255, 255, 1);
  width: 91px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text18 {
  top: 16px;
  left: 1155px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text20 {
  top: 17px;
  left: 1358px;
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text22 {
  top: 17px;
  left: 72px;
  color: rgba(255, 255, 255, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image2 {
  top: 63px;
  left: 882px;
  width: 584px;
  height: 407px;
  position: absolute;
  border-radius: 30px;
}
.desktop1-text27 {
  top: 94px;
  left: 70px;
  color: rgba(0, 0, 0, 1);
  width: 503px;
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Advent Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text29 {
  top: 194px;
  left: 44px;
  color: rgba(0, 0, 0, 1);
  width: 535px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Alegreya;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle20 {
  top: 497px;
  left: 756px;
  width: 710px;
  height: 80px;
  position: absolute;
}
.desktop1-rectangle24 {
  top: 1305px;
  left: 863px;
  width: 537px;
  height: 96px;
  position: absolute;
}
.desktop1-rectangle40 {
  top: 2034px;
  left: 863px;
  width: 537px;
  height: 96px;
  position: absolute;
}
.desktop1-rectangle42 {
  top: 2819px;
  left: 863px;
  width: 537px;
  height: 96px;
  position: absolute;
}
.desktop1-rectangle44 {
  top: 3565px;
  left: 863px;
  width: 537px;
  height: 96px;
  position: absolute;
}
.desktop1-rectangle47 {
  top: 4358px;
  left: 863px;
  width: 537px;
  height: 96px;
  position: absolute;
}
.desktop1-text34 {
  top: 506px;
  left: 880px;
  color: rgb(247, 245, 245);
  width: 373px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Advent Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  }
.desktop1-rectangle21 {
  top: 629px;
  left: 0px;
  width: 1530px;
  height: 148px;
  position: absolute;
}
.desktop1-text36 {
  top: 681px;
  left: 110px;
  color: rgba(255, 255, 255, 1);
  width: 250px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Advent Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text38 {
  top: 687px;
  left: 693px;
  color: rgba(255, 255, 255, 1);
  width: 203px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Advent Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text40 {
  top: 687px;
  left: 1263px;
  color: rgba(255, 255, 255, 1);
  width: 187px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Advent Pro;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image3 {
  top: 917px;
  left: 82px;
  width: 515px;
  height: 515px;
  position: absolute;
}
.desktop1-text42 {
  top: 917px;
  left: 597px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Average Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle22 {
  top: 1004px;
  left: 597px;
  width: 803px;
  height: 265px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-rectangle38 {
  top: 1729px;
  left: 596px;
  width: 804px;
  height: 265px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-rectangle41 {
  top: 2514px;
  left: 597px;
  width: 803px;
  height: 265px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-rectangle43 {
  top: 3260px;
  left: 597px;
  width: 803px;
  height: 265px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-rectangle45 {
  top: 4023px;
  left: 597px;
  width: 803px;
  height: 265px;
  position: absolute;
  border-radius: 20px;
}
.desktop1-text44 {
  top: 1027px;
  left: 616px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text46 {
  top: 1746px;
  left: 632px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text48 {
  top: 2558px;
  left: 632px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text50 {
  top: 3291px;
  left: 651px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text52 {
  top: 4054px;
  left: 651px;
  color: rgba(0, 0, 0, 1);
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle23 {
  top: 1038px;
  left: 733px;
  width: 43px;
  height: 36px;
  position: absolute;
}
.desktop1-rectangle39 {
  top: 1757px;
  left: 754px;
  width: 43px;
  height: 36px;
  position: absolute;
}
.desktop1-text54 {
  top: 1175px;
  left: 632px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text56 {
  top: 1908px;
  left: 632px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text58 {
  top: 2689px;
  left: 636px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text60 {
  top: 3435px;
  left: 632px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text62 {
  top: 4198px;
  left: 632px;
  color: rgba(0, 0, 0, 1);
  width: 201px;
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text64 {
  top: 1185px;
  left: 845px;
  color: rgba(171, 181, 49, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text66 {
  top: 1918px;
  left: 834px;
  color: rgba(171, 181, 49, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text68 {
  top: 2699px;
  left: 845px;
  color: rgba(171, 181, 49, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text70 {
  top: 3445px;
  left: 845px;
  color: rgba(171, 181, 49, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text72 {
  top: 4205px;
  left: 845px;
  color: rgba(171, 181, 49, 1);
  width: 220px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text74 {
  top: 1335px;
  left: 1081px;
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text76 {
  top: 2060px;
  left: 1081px;
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text78 {
  top: 2849px;
  left: 1081px;
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text80 {
  top: 3595px;
  left: 1081px;
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text82 {
  top: 4388px;
  left: 1081px;
  color: rgba(0, 0, 0, 1);
  width: 259px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle37 {
  top: 4689px;
  left: 0px;
  width: 1530px;
  height: 63px;
  position: absolute;
}
.desktop1-image5 {
  top: 1600px;
  left: 82px;
  width: 514px;
  height: 524px;
  position: absolute;
}
.desktop1-text84 {
  top: 1602px;
  left: 597px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Average Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-image6 {
  top: 2403px;
  left: 47px;
  width: 550px;
  height: 550px;
  position: absolute;
}
.desktop1-text86 {
  top: 2403px;
  left: 618px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Average Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle411 {
  top: 2569px;
  left: 754px;
  width: 43px;
  height: 36px;
  position: absolute;
}
.desktop1-image7 {
  top: 3149px;
  left: 26px;
  width: 571px;
  height: 571px;
  position: absolute;
}
.desktop1-text88 {
  top: 3149px;
  left: 597px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Average Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text90 {
  top: 3912px;
  left: 597px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 55px;
  font-style: Regular;
  text-align: left;
  font-family: Average Sans;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-rectangle412 {
  top: 3302px;
  left: 776px;
  width: 43px;
  height: 36px;
  position: absolute;
}
.desktop1-rectangle46 {
  top: 4060px;
  left: 776px;
  width: 43px;
  height: 36px;
  position: absolute;
}
.desktop1-image8 {
  top: 3912px;
  left: 105px;
  width: 414px;
  height: 585px;
  position: absolute;
}
.desktop1-text92 {
  top: 4697px;
  left: 169px;
  color: rgba(255, 255, 255, 1);
  width: 198px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text94 {
  top: 4702px;
  left: 740px;
  color: rgba(255, 255, 255, 1);
  width: 181px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop1-text96 {
  top: 4697px;
  left: 1255px;
  color: rgba(255, 255, 255, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
